@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .jetinsight-embedded-request-button {
    @apply items-center appearance-none bg-[#d2d25122] rounded px-4 py-2 text-gray-800 font-bold shadow-md hover:shadow-lg transition duration-300 ease-in-out text-lg lg:text-xl;
  }

  .jetinsight-embedded-request-button:focus {
    @apply outline-none ring-2 ring-blue-500;
  }

  .jetinsight-embedded-request-button:hover {
    @apply bg-[#d2d25155];
  }

  .jetinsight-embedded-request-button:active {
    @apply shadow-inner;
  }
}

@media (max-width: 800px) {
  .jetinsight-embedded-request-button {
    @apply w-4/5 h-10 text-base;
  }
}

@media (max-width: 450px) {
  .jetinsight-embedded-request-button {
    @apply w-2/3 h-9 text-sm;
  }
}

.align-baseline {
  vertical-align: baseline;
}
/* Optional: Add these styles if you want the video to take up the full width of the screen */
.video-container {
  width: 100vw;
  max-width: 100%;
  position: relative;
  background-color: black;
}

/* Optional: Add these styles if you want to maintain a specific aspect ratio */
.video-container::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}