.jetInsightOut {
    display: flex;
  }
  
  .jetinsightEmbeddedRequestButton {
    align-items: center !important;
    appearance: none !important;
    background-color: #23B2EE !important;
    border-radius: 4px !important;
    border-width: 0 !important;
    box-sizing: border-box !important;
    color: #010101 !important;
    cursor: pointer !important;
    display: inline-flex !important;
    font-family: "Inter", sans-serif !important; /* Ensure "Inter" is applied */
    font-weight: bolder;
    height: 60px !important;
    justify-content: center !important;
    line-height: 1 !important;
    list-style: none !important;
    overflow: hidden !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    position: relative !important;
    text-align: left !important;
    text-decoration: none !important;
    transition: box-shadow 0.15s, transform 0.15s !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    white-space: nowrap !important;
    will-change: box-shadow, transform !important;
    font-size: 18px !important;
    &:hover {
        background-color: #ffffff; /* Change background on hover */
        color: #23B2EE;
    
        svg {
          transform: translateX(8px); /* Move the arrow to the right */
        }
      }
      
      svg {
        transition: transform 0.3s ease-in-out; /* Smooth transition */
      }
  }
  
  .jetinsightEmbeddedRequestButton:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset !important;
    transform: translateY(-5px) !important;
    background-color: white !important;
  }
  
  .jetinsightEmbeddedRequestModal {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    position: fixed;
    width: 95%;
    height: 95%;
    max-width: 900px;
    max-height: 700px;
    background: #FFF;
    display: none;
    padding: 1px;
    z-index: 1000;
    margin: auto;
    border-radius: 0px;
    border: 1px solid darkgrey;
    box-shadow: 0px 0px 7px #999;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
  
  .modalHeader {
    height: 35px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .closeButton {
    background-color: #3ed5f5 !important;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
    
  }
  
  .closeButton:hover {
    background-color: #0aa3c3 !important;
  }
  
  .modalIframe {
    width: calc(100% - 2px);
    height: calc(100% - 47px);
    border: none;
  }
  
  @media (max-width: 800px) {
    .jetinsightEmbeddedRequestButton {
      width: 80% !important;
      height: 40px !important;
      font-size: 16px !important;
      margin-top: 10px !important;
    }
  }
  
  @media (max-width: 450px) {
    .jetinsightEmbeddedRequestButton {
      width: 65% !important;
      height: 35px !important;
      font-size: 10px !important;
    }
  }
 
  